<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

</head>
<body>
    <div th:fragment="avatar-fragment">
        <div th:if="${user.sex} == 'MALE'">
            <img src="../static/png/avatar-male.png" th:src="@{/png/avatar-male.png}"/>
        </div>
        <div th:if="${user.sex} == 'FEMALE'">
            <img src="../static/png/avatar-female.png" th:src="@{/png/avatar-female.png}"/>
        </div>
        <div th:if="${user.sex} == 'UNKNOWN'">
            <img src="../static/png/avatar-unknown.png" th:src="@{/png/avatar-unknown.png}"/>
        </div>
        <br/>
    </div>
</body>
</html>