<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="admin_search_results">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Avatar</th>
            <th>role</th>
            <th></th>
            <th>created</th>
            <th>OnLine</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterationStat : ${users}">
            <td th:text="${results_p_page} * (${pageNr} - 1) + ${iterationStat.index} + 1">1</td>
            <td th:text="${user.account.id}">23</td>
            <td th:text="${user.account.email}">test@test.com</td>
            <td th:text="${user.firstName}">John</td>
            <td th:text="${user.lastName}">Marvin</td>
            <td id="avatar-pic-small">
                <div th:replace="avatar :: avatar-fragment"/>
            </td>
            <td th:text="${user.account.role}">ROLE_USER</td>
            <td>
                <button th:onclick="'changeRole(\'' + ${user.id} + '\');'" class="btn btn-success btn-xs">Change
                </button>
            </td>

            <td th:text="${#calendars.format(user.account.created, 'dd MMM yyyy HH:mm')}"></td>
            <td>
                <a th:if="${user.account.logged}">
                    <span class="label label-success"> </span>
                </a>
                <a th:unless="${user.account.logged}">
                    <span class="label label-danger"> </span>
                </a>
            </td>
            <td>
                <div th:if="${user.account.logged}">
                    <button th:onclick="'logoutAccount(' + ${user.id}+ ');'" class="btn btn-info btn-sm">logout</button>
                </div>
                <div th:unless="${user.account.logged}">
                    <button class="btn btn-primary disabled btn-sm">logout</button>
                </div>
            </td>
            <td>
                <div th:if="${user.account.enabled}">
                    <button th:onclick="'disableAccount(' + ${user.id}+ ');'" class="btn btn-info btn-sm">Disable</button>
                </div>
                <div th:unless="${user.account.enabled}">
                    <button th:onclick="'disableAccount(' + ${user.id}+ ');'" class="btn btn-warning btn-sm">Enable</button>
                </div>
            </td>
            <td>
                <div th:if="${user.account.accountNonExpired}">
                    <button th:onclick="'expireAccount(' + ${user.id}+ ');'" class="btn btn-info btn-sm">Expire</button>
                </div>
                <div th:unless="${user.account.accountNonExpired}">
                    <button th:onclick="'expireAccount(' + ${user.id}+ ');'" class="btn btn-warning btn-sm">Expired</button>
                </div>
            </td>
            <td>
                <div th:if="${user.account.accountNonLocked}">
                    <button th:onclick="'lockAccount(' + ${user.id}+ ');'" class="btn btn-info btn-sm">Lock</button>
                </div>
                <div th:unless="${user.account.accountNonLocked}">
                    <button th:onclick="'lockAccount(' + ${user.id}+ ');'" class="btn btn-warning btn-sm">UnLock</button>
                </div>
            </td>
            <td>
                <button th:onclick="'deleteAccount(' + ${user.id}+ ');'" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="user_search_results">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Avatar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterationStat : ${users}">
            <td th:text="${results_p_page} * (${pageNr} - 1) + ${iterationStat.index} + 1">1</td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td id="avatar-pic-medium">
                <div th:replace="avatar :: avatar-fragment"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>