<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="pagination" th:with="blockNumber=${T(Math).ceil(pageNr * 0.2)}, blockSize=5, totalBlocks=${users.totalPages / blockSize}"> <!--Block Size = 5; 1/5 = 0.2-->
    <ul th:each="i : ${#numbers.sequence(blockNumber * blockSize - (blockSize - 1), blockNumber * blockSize)}" class="pagination pagination-sm">
        <th:block th:if="${i} == ${blockNumber * blockSize - (blockSize - 1)}">
            <li>
                <a th:href="@{/search(userName=${userName}, p=${1}, r=${results_p_page})}" th:class="${blockNumber} > 1 ? '' : 'btn disabled'">&laquo;</a>
            </li>
            <li>
                <a th:href="@{/search(userName=${userName}, p=${T(Math).round((blockNumber - 1)*blockSize -(blockSize - 1))}, r=${results_p_page})}" th:class="${blockNumber} > 1 ? '' : 'btn disabled'">previous</a>
            </li>
        </th:block>
        <li th:class="${i} == ${pageNr} ? active : ''">
            <a th:text="${i}" th:href="@{/search(userName=${userName}, p=${i}, r=${results_p_page})}" >2</a>
        </li>
        <th:block th:if="${i} == ${blockNumber * blockSize}">
            <li>
                <a th:href="@{/search(userName=${userName}, p=${T(Math).round(blockNumber*blockSize + 1)}, r=${results_p_page})}"  th:class="${totalBlocks} > ${blockNumber} ? '' : 'btn disabled'">next</a>
            </li>
            <li>
                <a th:href="@{/search(userName=${userName}, p=${users.totalPages}, r=${results_p_page})}" th:class="${totalBlocks} > ${blockNumber} ? '' : 'btn disabled'">&raquo;</a>
            </li>
        </th:block>
    </ul>
</div>

<div th:fragment="results_per_page">
    <div class="btn-group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span th:text="${results_p_page}">10</span>
            <span class="caret"/>
        </a>
        <ul class="dropdown-menu">
            <li><a th:href="@{/search(userName=${userName}, p=${i}, r=10)}">10</a></li>
            <li><a th:href="@{/search(userName=${userName}, p=${i}, r=20)}">20</a></li>
            <li><a th:href="@{/search(userName=${userName}, p=${i}, r=50)}">50</a></li>
            <li><a th:href="@{/search(userName=${userName}, p=${i}, r=100)}">100</a></li>
        </ul>
    </div>
</div>

</body>
</html>